
numpy==1.25.2
opencv-contrib-python-headless==4.9.0.80
opencv-python==4.8.1.78
Pillow==10.0.0
scikit-image==0.22.0
scikit-learn==1.5.0
streamlit==1.35.0
streamlit-awesome-table==0.1.0
streamlit-image-comparison==0.0.3
streamlit-option-menu==0.3.12
streamlit_carousel==1.0.0
torch==2.1.1
torchvision==0.16.1
